.campoderegistrar[type=text],[type=password]{
    position:absolute;
    border:none;
    height:8%;
    width:18%;
}

.campoderegistraringresar[type=submit]{
    position:absolute;
    border:none;
    height:8%;
    width:18%;
    background:#141313;
    color:#8d8c8c;
    border-radius:30px;
}

.menuusuariatextos[type=submit]{
    color:#525252;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:15px;
    position:absolute;
    border:none;
    background:#ffffff;
}

.menuusuariaaquiestoy[type=submit]{
    color:#ffffff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:15px;
    position:absolute;
    border:none;
    background:#199ccc;
    width:19.8%;
    height:100%;
}